@model WRproyectoCompleto.Models.WREstudiante

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WREstudiante</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WRcedulaEstudiante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WRcedulaEstudiante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WRnombreEstudiante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WRnombreEstudiante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WRapellidoEstudiante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WRapellidoEstudiante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WRnombreRepresentanteEstudiante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WRnombreRepresentanteEstudiante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WRedad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WRedad)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="WRestudianteId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
