@model WRproyectoCompleto.Models.WREstudiante

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WREstudiante</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WRcedulaEstudiante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WRcedulaEstudiante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WRnombreEstudiante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WRnombreEstudiante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WRapellidoEstudiante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WRapellidoEstudiante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WRnombreRepresentanteEstudiante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WRnombreRepresentanteEstudiante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WRedad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WRedad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.WRestudianteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
